.slider {
  width: 75vw;
  min-height: 40vh;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slider__title {
  font-size: 25px;
  font-weight: 500;
  color: darkgray;
  text-transform: uppercase;
  margin: 60px 0 40px;
  text-align: center;
}

.slider .slide__track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 12);
}

.slider .slide {
  width: 200px;
  padding: 20px;
}

.slider .slide .img__brands {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
    -webkit-transform: translateX(calc(-200px * 6));
    -moz-transform: translateX(calc(-200px * 6));
    -ms-transform: translateX(calc(-200px * 6));
    -o-transform: translateX(calc(-200px * 6));
  }
}

@media screen and (max-width: 600px) {
  .slider {
    margin-top: 40%;
  }
}
