@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* It is added tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Predetermined characteristics are established */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;

  --dark-blue-50: #e8f1ff;
  --dark-blue-100: #d4e5ff;
  --dark-blue-200: #b2cbff;
  --dark-blue-300: #84a8ff;
  --dark-blue-400: #5475ff;
  --dark-blue-500: #2d43ff;
  --dark-blue-600: #090dff;
  --dark-blue-700: #0001ff;
  --dark-blue-800: #0409cf;
  --dark-blue-900: #0f16a9;
  --dark-blue-950: #090b5d;
}
/* End predetermined characteristics are established */

html {
  scroll-behavior: smooth;
}

/* It is added Scrollbar */

body::-webkit-scrollbar {
  background: rgba(77, 77, 77, 0.719);
  width: 12px;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: rgb(27, 26, 26);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: black;
  border: 1px solid white;
}
/* End added Scrollbar */

/* Gradient background is added */

.div__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-linear-gradient(to bottom, #090b5d, #004e92);
  background: linear-gradient(to bottom, #090b5d, #004e92);
  transform-origin: 0px 0px;
  transform: skewY(-8deg);
  z-index: -3;
  min-height: 100vh;
}
/* Gradient background end */

/*Style Error 404 */

.error404-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-404 {
  padding: 20px 40px 20px 40px;
  background: rgb(168, 31, 31);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  box-shadow: 6px 6px 6px rgb(99, 0, 0);
}

.error-404 h1 {
  font-size: 5rem;
  font-weight: 900;
  color: rgb(100, 0, 0);
  -webkit-text-stroke: 1px white;
}

.error-404 p {
  font-size: 3rem;
  color: white;
}

/*End Error 404 */

/*Header*/
.container__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.div__logo {
  width: 10%;
  margin: 0 50px;
}

.div__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div__navigation li {
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  margin: 7px;
  color: var(--dark-blue-400);
  border-radius: 10px;
  border: 2px solid #00000000;
}

.div__navigation li:hover {
  color: var(--dark-blue-100);
  border: 2px solid var(--dark-blue-100);
}

.navigation__sesion li {
  color: var(--dark-blue-200) !important;
  background-color: var(--dark-blue-800);
}
.navigation__sesion li:hover {
  color: var(--dark-blue-500) !important;
  background-color: var(--dark-blue-100);
}

/*End Header*/

/* estilos del "El mejor contenido " */

.div__content {
  margin: 10%;
}
.class__p__home {
  margin: 0 63% 3% 0;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  border-radius: 20px;
  background-color: var(--dark-blue-900);
  color: var(--dark-blue-300);
  padding: 5px;
}

.div__content__title {
  color: var(--dark-blue-100);
}

.div__content__title h1 {
  font-size: 40px;
  font-weight: 900;
}

.div__content__title p {
  font-size: 14px;
  margin: 20px 0 30px 0;
  max-width: 550px;
}

/* Button contact home */

.div__contact {
  text-align: center;
  background-color: var(--dark-blue-500);
  font-weight: 800;
  padding: 10px 0;
  margin-left: 10%;
  max-width: 250px;
  border-radius: 20px;
  color: var(--dark-blue-100);
  cursor: pointer;
}

.div__contact:hover {
  background-color: var(--dark-blue-300);
  color: var(--dark-blue-500);
  transition: all 0.3s linear;
}

/* End button contact home */
/* Style img */
.div__img__home {
  margin-top: -45%;
  float: right;
}
.img {
  width: 600px;
}
/* End style img */

/* 
              FOOTER                */

.footer-section {
  width: 100%;
  display: flex;
  color: var(--dark-blue-400);
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--dark-blue-950);
  margin-bottom: -25px;
}

.footer-section h2 {
  margin-bottom: 1rem;
  position: relative;
}

.footer-section h2::after {
  content: "";
  width: 6rem;
  height: 0.1rem;
  background: var(--dark-blue-100);
  position: absolute;
  top: 1.7rem;
  left: 0;
}

.footer-section p {
  transition: all 0.2s linear;
  margin-bottom: 0.6em;
}

.pMove:hover {
  transition: all 0.2s linear;
  transform: translateX(4px);
}

.footer-section a:hover {
  color: var(--dark-blue-100);
}

.footer-item {
  margin: 1rem;
  width: 100vh;
}

.footer-item ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.social ul li {
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.social ul li:hover {
  color: var(--dark-blue-100);
  transform: scale(1.1);
  transition: all 0.2s linear;
}

/* Style of responsive nav */

.linkClass {
  position: absolute;
  top: -700px;
  right: 0;
  left: -2000px;
  padding: 30px;
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 0.3s ease;
}

.linkClass.active {
  width: 100%;
  display: block;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

.linkClass li {
  display: block;
}

.Bgdiv {
  top: -100;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  transition: all 0.3s ease;
}

.Bgdiv.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50vh;
  background-color: var(--dark-blue-900);
  z-index: 1;
}

/* End style of responsive nav */

/* Responsive all */

@media (min-width: 1000px) {
  .burgerClass {
    display: none;
  }

  .linkClass {
    position: initial;
  }

  .linkClass li {
    display: inline;
  }
}

@media screen and (max-width: 1000px) {
  .burgerClass {
    display: block;
    max-width: 50vh;
  }
  .linkClass {
    padding: 15rem 50px;
    margin: 0 auto;
  }
  .linkClass li {
    padding: 20px;
  }
  .div__logo {
    margin-left: -40px;
    width: 15%;
  }
  .img {
    width: 400px;
  }

  .div__navigation li {
    font-size: 18px;
    color: var(--dark-blue-200);
  }
  .navigation__sesion li {
    color: var(--dark-blue-200);
    background-color: var(--dark-blue-950);
  }
  .navigation__sesion li:hover {
    color: var(--dark-blue-600) !important;
  }
  .class__p__home {
    margin: 15% 40% 2% 0;
  }
  .div__contact {
    margin-left: 2%;
  }
}

@media screen and (max-width: 868px) {
  .div__background {
    min-height: 75vh;
  }
  .div__content__title {
    padding: 20px 0;
  }

  .div__content__title h1,
  .div__content__title p {
    margin-left: -40px;
  }

  .div__content__title p {
    max-width: 450px;
    line-height: 1.65em;
  }

  .class__p__home {
    margin: 0 35% 2% -5%;
  }

  .div__logo {
    position: absolute;
    margin-left: -60px;
  }

  .burgerClass {
    min-width: 17vh;
  }

  .div__img__home {
    margin-top: -53%;
  }
}

@media screen and (max-width: 600px) {
  .div__background {
    min-height: 100vh;
  }
  .Bgdiv.active {
    padding: 50vh 0;
  }

  .burgerClass {
    min-width: 7vh;
  }
  .linkClass {
    padding: 10rem 0px;
    margin: 0 0px;
  }
  .linkClass li {
    padding: 10px 0;
  }

  .div__content {
    padding: 0px;
    margin: 0 50px;
    margin-top: 15vh;
  }
  .div__logo {
    margin-right: 22%;
  }

  .div__img__home {
    display: none;
  }

  .div__content__title h1 {
    margin: 0;
    padding: 0;
    font-size: 27px;
  }

  .div__content__title p {
    margin: 0;
    padding: 0;
  }

  .class__p__home {
    font-size: 11px;
    padding: 0px;
    margin: 0;
  }
}
