@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Se agrega tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

/* Scrollbar */

body::-webkit-scrollbar {
  background: rgba(77, 77, 77, 0.719);
  width: 12px;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: rgb(27, 26, 26);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: black;
  border: 1px solid white;
}

/* Section de fondo degradado cortado */

.divFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000428;
  background: -webkit-linear-gradient(to bottom, #000428, #004e92);
  background: linear-gradient(to bottom, #000428, #004e92);
  transform-origin: 0px 0px;
  transform: skewY(-8deg);
  overflow: hidden;
  z-index: -3;
  -webkit-transform: skewY(-8deg);
  -moz-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  -o-transform: skewY(-8deg);
}

/* Error 404 */

.error404-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-404 {
  padding: 20px 40px 20px 40px;
  background: rgb(168, 31, 31);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  box-shadow: 6px 6px 6px rgb(99, 0, 0);
}

.error-404 h1 {
  font-size: 5rem;
  font-weight: 900;
  color: rgb(100, 0, 0);
  -webkit-text-stroke: 1px white;
}

.error-404 p {
  font-size: 3rem;
  color: white;
}

/*Header*/
.container-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #309eff00;
}
.logo {
  width: 70px;
}
.logo img {
  width: 100%;
}

.container-header li {
  text-decoration: none;
  font-size: 15px;
  color: white;
  transition: all 0.3s;
}
.container-header li:hover {
  color: rgb(219, 77, 255);
  font-weight: 700;
}
.sesion li {
  padding: 5px 10px;
  margin: 1px;

  color: #3c7dff !important;
  font-weight: 800;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.sesion:hover li {
  color: #e048ff !important;
  text-shadow: 0px 0px 10px rgb(198, 55, 255);
  text-shadow: 0px 0px 20px rgb(255, 133, 222);
}

.main {
  height: 40px;
  text-align: center;
  background-color: #063289;
  border-radius: 30px;
  color: #40ddff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.main h1 {
  font-size: 35px;
  letter-spacing: 0.1;
  margin-bottom: 25px;
  font-weight: 900;
}

.container-p {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.container-p img {
  width: 50%;
}

.BtnImg {
  text-align: center;
  background-color: #1563ff;
  font-weight: 800;
  border-radius: 30px;
  color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.3s;
}

.BtnImg:hover {
  box-shadow: 0px 0px 15px 10px #2ea1ff;
}

.container-formSesion {
  width: 100%;
  margin-top: 300px;
}

.formDetras {
  background-color: #408cff;
  width: 450px;
  margin: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 440px;
  overflow: hidden;
  position: absolute;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: -1;
}

.linkClass {
  position: absolute;
  top: -700px;
  right: 0;
  left: -2000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.linkClass.active {
  width: 100%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

.linkClass li {
  font-size: 1.7rem;
  margin-top: 1rem;
  display: block;
}

.Bgdiv {
  top: -700;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.Bgdiv.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000341;
  border-radius: 0 0 80% 0;
  box-shadow: 0px 0px 10px 5px rgb(83, 83, 255);
  z-index: 1;
}

@media (min-width: 768px) {
  .burgerClass {
    display: none;
  }

  .linkClass {
    position: initial;
  }

  .sesion li {
    border: 2px #1563ff solid;
    border-radius: 20px;
  }

  .sesion:hover li {
    box-shadow: 0px 0px 20px rgb(65, 65, 254);
  }

  .linkClass li {
    font-size: 18px;
    display: inline;
    padding: 15px;
  }
}
/* 
              FOOTER                */

.footer-section {
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: #000341;
  margin-bottom: -25px;
}

.footer-section h2 {
  margin-bottom: 1rem;
  position: relative;
}

.footer-section h2::after {
  content: "";
  width: 4rem;
  height: 0.2rem;
  background: #00dbe6;
  position: absolute;
  top: 2rem;
  left: 0;
}

.footer-section p {
  transition: all 0.2s linear;
  margin-bottom: 0.6em;
}

img {
  text-decoration: none;
  cursor: pointer;
  transform: translateX(4px);
}

img:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}

.pMove:hover {
  transition: all 0.2s linear;
  transform: translateX(4px);
}

.footer-section a:hover {
  color: #5bfadf;
}

.footer-item {
  margin: 1rem;
}

.footer-item ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer-item li {
  margin-right: 1rem;
}

.social ul li {
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.social ul li:hover {
  color: #19fdb5;
  transform: scale(1.1);
  transition: all 0.2s linear;
}

@media screen and (max-width: 320px) {
  .footer-section {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2rem;
  }
}
